@use '@/assets/scss/colors.scss' as *;

@mixin reset-button {
  font-family: inherit;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}