.input {
  width: 100%;
  position: relative;

  &__input {
    @include light-16;
    width: 100%;
    outline: none;
    border: 1px solid $dark-lines;  
    border-radius: size(5px);
    display: flex;
    align-items: center;
    color: $basic-dark;
    width: 100%;
    padding-left: size(14px);
    padding-right: size(16px); 
    padding-top: size(12px);
    padding-bottom: size(12px);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    resize: none;

    &:not(:focus) {
      @include hover {
        background-color: $dark-white;
  
        & + .input__label {
          background: linear-gradient(to top, $dark-white 0%, $dark-white 50%, transparent 50%, transparent 100%);
        }
      }
    }

    &:focus {
      border-color: $blue-attention; 
      background-color: transparent;
    }

    &.error {
      border-color: $error;
    }
  }

  &__label {
    @include small-light;
    padding: 0 1px;
    color: $light-grey;
    display: block;
    position: absolute;
    left: size(16px);
    top: 0;
    transform: translateY(-50%);
    background: linear-gradient(to top, #ffffff 0%, #ffffff 50%, transparent 50%, transparent 100%);
  }

  &__error-message {
    @include small-light;
    color: $error;
    display: block;
    margin-top: size(4px);
    margin-left: size(5px);
  }
}