:root {
  --bg-auth-google: #abfff0;
  --bg-tertiary: #482255;
  --text-secondary: #fcfcfc;
  --bg-primary: var(--text-secondary);
  --text-primary: #232634;
  --text-secondary-muted: #d9d9d9;
  --text-primary-muted: #363945;
  --icon-primary: var(--text-primary);
  --icon-hover: #00d0c5;
  --bg-accent: #3b61e8;
  --text-primary-disabled: #858893;

  --bg-primary-hover: #e8e8e8;
  --bg-accent-hover: #2d54dc;
  --bg-accent-secondary: #67d0de;
  --bg-accent-secondary-hover: #49b5c4;
  --bg-highlight: #fff;
  --bg-secondary: #f6f6f6;

  --stroke-primary: #d9d9d9;
  --stroke-secondary: #C5C5C5;

  --text-highlight: #fff;
  --text-accent: #3b61e8;

  --fc-border-color: var(--stroke-primary);
}
