:root {
  --bg-auth-google: #abfff0;
  --bg-secondary: #482255;
  --text-secondary: #fcfcfc;
  --bg-primary: #fcfcfc;
  --text-primary: #232634;
  --text-secondary-muted: #d9d9d9;
  --text-primary-muted: #363945;
  --icon-primary: #232634;
  --icon-hover: #00d0c5;
  --bg-accent: #3b61e8;
  --text-primary-disabled: #858893;
}
