@font-face {
  font-family: "Geologica Cursive";
  font-style: normal;
  font-weight: 400;
  src: url("@/assets/fonts/Geologica-Cursive-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Geologica Cursive";
  font-style: normal;
  font-weight: 200;
  src: url("@/assets/fonts/Geologica-Cursive-ExtraLight.woff2") format("woff2");
}

:root {
  --main-font: "Geologica Cursive", "Geologica", sans-serif;

  --light-24: 200 24px / 1 var(--main-font);
  --light-20: 200 20px / 1 var(--main-font);
  --light-16: 200 16px / 1 var(--main-font);
  --light-14: 200 14px / 16px var(--main-font);
  --light-11: 200 11px / 1 var(--main-font);
  --light-12: 200 12px / 1 var(--main-font);
  --light-10: 200 10px / 1 var(--main-font);

  --bold-24: 400 24px / 1 var(--main-font);
  --bold-20: 400 20px / 1 var(--main-font);
  --bold-18: 400 18px / 22px var(--main-font);
  --bold-16: 400 16px / 1 var(--main-font);
  --bold-14: 400 14px / 1 var(--main-font);
  --bold-12: 400 12px / 14px var(--main-font);
  --bold-10: 400 10px / 14px var(--main-font);

  --title-30: 300 30px / 1 var(--main-font);
}
