$dark-lines:#D9D9D9;
$light-lines: rgba(0, 0, 0, 0.075);
$dark-white: #F0F0F0;
$violet: #482255;
$white: #ffffff;
$darkest: #232634;
$light-grey: #858893;
$dark-grey: #5d6170;
$basic-dark: #363945;
$blue: #5e85eb;
$blue-attention: #3b61e8;
$error: #dc4545;
$green: #67dec9;

$main-font: "Geologica", sans-serif;

$day-height: 1760px;
$font-size-main: 20px;